.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}


h4 {
    font-size: 24px;
    text-align: center;
}


.flow-text {
    font-size: 18px;
    text-align: center;
    color: #000000;
    margin-top: 10px;
}


.btn {
    width: 140px;
    border-radius: 3px;
    letter-spacing: 1.5px;
    text-align: center;
    margin-top: 20px;
    cursor: pointer;
}


.produtos-btn {
    background-color: #041f3b;
}


.logout-btn {
    background-color: #FF5733;
    color: white;
}


.landing-container {
    background-image: url('https://media.gettyimages.com/id/1335298641/pt/foto/university-dorm-room.jpg?s=612x612&w=0&k=20&c=pU32Yo1uwPq4Tu0W9K1B9d94gp0Q8OcOIamG0cCRJJg=');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    opacity: 0.9; /* Adjust the opacity as needed */
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}


@media (max-width: 768px) {

    h4 {
        font-size: 20px;
    }
    .flow-text {
        font-size: 16px;
    }
    .btn {
        width: 120px;
    }
}
