/* Styles for the outer container */
.container-valign {
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url('https://media.gettyimages.com/id/1335298641/pt/foto/university-dorm-room.jpg?s=612x612&w=0&k=20&c=pU32Yo1uwPq4Tu0W9K1B9d94gp0Q8OcOIamG0cCRJJg=');
    background-size: cover;
    background-position: center;
}

/* Styles for the title */
.title {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}

/* Styles for the description */
.description {
    text-align: center;
    font-size: 16px;
    color: #000000;
    font-weight: bold;
}

/* Styles for buttons */
.button {
    display: inline-block;
    border: none;
    border-radius: 4px;
    padding: 0px 10px;
    text-decoration: none;
    margin: 10px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
}

/* Styles for "Cadastro" button */
.btn-cadastro {
    background-color: #367306;
}

/* Styles for "Login" button */
.btn-login {
    background-color: #041f3b;
}

/* Styles for "Produtos" button */
.btn-produtos {
    background-color: #afa74c;
}

/* Styles for "User Profile" button */
.btn-profile {
    background-color: #f39c12; /* Choose your desired color */
}

/* Responsive styles for buttons */
@media (max-width: 576px) {
    .button {
        padding: 8px 16px;
        font-size: 0.9rem;
    }
}
