.navbar {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.home-link{
    margin-left: -32px;
}
.nav-wrapper {
    background-color: #68917d;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 48px;
}

.btn-edit-prefs,
.btn-show-recommendations {
    height: auto;
    display: flex;
    align-items: center;
    background-color: #041f3b;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 4px 6px;
    text-decoration: none;
    white-space: normal;
    font-size: 0.9rem;
    margin-left: 0px;
    margin-top: 10px;
}

.btn-edit-prefs p,
.btn-show-recommendations p {
    margin: 0;
    padding: 0;
    line-height: 1;
    white-space: normal;
    font-size: 0.8rem;
}

.user-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #000;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
}

.user-email {
    margin-bottom: -38px;
    font-size: 0.8rem;
}

.btn-logout {
    background-color: #9d0101;
    padding: 6px 8px;
    line-height: 1;
    white-space: nowrap;
    font-size: 0.8rem;
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    .nav-wrapper {
        height: auto;
    }

    .material-icons {
        font-size: 0.8rem;
        margin-right: 4px;
    }

    .col.s5.brand-logo.center.black-text,
    .col.s5.brand-logo.black-text {
        font-size: 1rem;
        max-height: none;
        overflow: visible;
        white-space: normal;
    }

    .btn-edit-prefs,
    .btn-show-recommendations,
    .btn-logout {
        height: auto;
        padding: 6px 8px;
        margin-left: 0px;

    }

    .btn-edit-prefs p,
    .btn-show-recommendations p,
    .btn-logout p {
        font-size: 0.8rem;
    }
}

@media (max-width: 320px) and (max-height: 668px) {
    .nav-wrapper {
        height: 44px;
    }

    .material-icons {
        font-size: 0.8rem;
        margin-right: 4px;
    }

    .col.s5.brand-logo.center.black-text,
    .col.s5.brand-logo.black-text {
        font-size: 2rem;
        max-height: 36px;
    }

    .btn-edit-prefs,
    .btn-show-recommendations,
    .btn-logout {
        height: auto;
        padding: 4px 8px;
    }

    .btn-edit-prefs p,
    .btn-show-recommendations p,
    .btn-logout p {
        font-size: 0.6rem;
    }

    .user-email {
        font-size: 0.6rem;
    }
}

@media (max-width: 375px) {
    .btn-show-recommendations {
        font-size: 0.6rem;
    }
}

@media (min-width: 376px) and (max-width: 414px) {
    .btn-show-recommendations {
        font-size: 0.7rem;
        margin-right: auto;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .btn-show-recommendations {
        font-size: 0.9rem;
    }
}

@media (min-width: 1025px) and (max-width: 1440px) {
    .btn-show-recommendations {
        font-size: 1rem;
    }
}

@media (min-width: 1441px) {
    .btn-show-recommendations {
        font-size: 1.1rem;
    }
}
