/* Updated Navbar.css */

/* Style the navigation bar */
.navbar {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Style the navigation links and logo */
.nav-wrapper {
    background-color: #68917d;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 48px;
    color: #000000;
    text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #ffffff; /* Add text shadow for black outline */

}

/* Style the "Edit Preferences" button */
.btn-edit-prefs,
.btn-show-recommendations {
    height: auto;
    display: flex;
    align-items: center;
    background-color: #041f3b;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 4px 6px;
    text-decoration: none;
    white-space: normal;
    font-size: 0.8rem;
}

.btn-edit-prefs p,
.btn-show-recommendations p {
    margin: 0;
    padding: 0;
    line-height: 1;
    white-space: normal;
    font-size: 0.8rem;
    color: #000000;
    text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #ffffff; /* Add text shadow for black outline */

}

/* Position the "Show Recommendations" button next to the "Edit Preferences" button */
.btn-show-recommendations {
    margin-left: 0px;
    font-weight: bold;
    margin-top: 10px;
}

/* Style the user info container */
.user-info {
    display: flex;
    flex-direction: column; /* Display email and button vertically */
    align-items: center;
    color: #000;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
}

/* Style the user's email */
.user-email {
    margin-bottom: -38px; /* Add margin between email and button */
    font-size: 0.8rem; /* Adjust font size for user email */
}

/* Style the "Logout" button */
.btn-logout {
    background-color: #9d0101;
    padding: 6px 8px;
    line-height: 1;
    white-space: nowrap;
    font-size: 0.8rem;
    margin-bottom: 20px;
    color: #000000;
    text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #ffffff; /* Add text shadow for black outline */

}

/* Media queries and responsive styles */
@media (max-width: 768px) {
    /* Adjust the navbar height for smaller screens */
    .nav-wrapper {
        height: auto;
    }

    /* Adjust the icon size and font size for smaller screens */
    .material-icons {
        font-size: 0.8rem;
        margin-right: 4px;
    }

    .col.s5.brand-logo.center.black-text,
    .col.s5.brand-logo.black-text {
        font-size: 1rem;
        max-height: none;
        overflow: visible;
        white-space: normal;
    }

    /* Adjust button size for smaller screens */
    .btn-edit-prefs,
    .btn-show-recommendations,
    .btn-logout {
        height: auto;
        padding: 6px 8px;
        margin-left: 0px;

    }

    /* Adjust text size for smaller screens */
    .btn-edit-prefs p,
    .btn-show-recommendations p,
    .btn-logout p {
        font-size: 0.8rem;
    }
}

/* Extended media query for screens with dimensions 320x668 */
@media (max-width: 320px) and (max-height: 668px) {
    /* Adjust the navbar height for smaller screens */
    .nav-wrapper {
        height: 44px;
    }

    /* Adjust the icon size and font size for smaller screens */
    .material-icons {
        font-size: 0.8rem;
        margin-right: 4px;
    }

    .col.s5.brand-logo.center.black-text,
    .col.s5.brand-logo.black-text {
        font-size: 0.8rem;
        max-height: 36px;
    }

    /* Adjust button size for smaller screens */
    .btn-edit-prefs,
    .btn-show-recommendations,
    .btn-logout {
        height: auto;
        padding: 4px 8px;
    }

    /* Adjust text size for smaller screens */
    .btn-edit-prefs p,
    .btn-show-recommendations p,
    .btn-logout p {
        font-size: 0.6rem;
    }

    /* User email adjustments */
    .user-email {
        font-size: 0.6rem;
    }
}

/* Responsive styles for different device sizes */
@media (max-width: 375px) {
    /* Mobile M */
    .btn-show-recommendations {
        font-size: 0.6rem;
    }
}

@media (min-width: 376px) and (max-width: 414px) {
    /* Mobile L */
    .btn-show-recommendations {
        font-size: 0.7rem;
        margin-right: auto;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    /* Tablet */
    .btn-show-recommendations {
        font-size: 0.9rem;
    }
}

@media (min-width: 1025px) and (max-width: 1440px) {
    /* Laptop */
    .btn-show-recommendations {
        font-size: 1rem;
    }
}

@media (min-width: 1441px) {
    /* Laptop Large */
    .btn-show-recommendations {
        font-size: 1.1rem;
    }
}
