/* Common styles for all screen sizes */
.edit-preferences-container {
    padding-top: 50px;
    padding-bottom: 50px;
    background-image: url('https://media.gettyimages.com/id/1317794799/pt/foto/interior-view-of-a-dormitory-at-ludgrove-school-an-independent-preparatory-boarding-school-in.jpg?s=612x612&w=0&k=20&c=smdb9Mm4Cob81lalCjFOKF_frGQucRGLqsJntt7WY2w=');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.edit-preferences-form {
    padding-left: 11.250px;
    margin-left: 180px;
}

.form-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-left: -120px;
    color: #000000;
    text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #ffffff; /* Add text shadow for black outline */
}

/* Add this CSS class for spacing between form elements */
.form-field {
    margin-bottom: 20px;
    margin-left: 60px;
}

/* Style the label for preference fields */
.form-field label {
    font-size: 16px;
    color: #000000;
    text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #ffffff; /* Add text shadow for black outline */
}

/* Style the input for preference fields */
.form-field input[type="text"],
.form-field input[type="number"],
.form-field select {
    display: block;
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    color: #fff; /* Set text color to white */
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; /* Add text shadow for black outline */
}

/* Style the checkbox input for preference fields */
.form-field .checkbox-label input[type="checkbox"] {
    position: absolute;
    opacity: 0;
}

/* Style the checkbox label for preference fields */
.form-field label span {
    padding-left: 30px;
    font-size: 16px;
    color: #333;
}

.checkbox-label {
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #000000; /* Set text color to white */
    text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #ffffff; /* Add text shadow for black outline */
}

.checkbox-text {
    padding-left: 10px;
}

/* Additional styles for form elements */
.form-field select {
    background-color: #fff;
}

.btn-update {
    background-color: #007bff;
    font-size: 18px;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    margin-left: 100px;
    color: #000000; /* Set text color to white */
    text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #ffffff; /* Add text shadow for black outline */
}

/* Responsive styles */

@media screen and (max-width: 576px) {
    .form-title {
        font-size: 20px;
    }

    .form-field label {
        font-size: 14px;
    }

    .form-field input[type="text"],
    .form-field input[type="number"],
    .form-field select {
        padding: 8px;
        font-size: 14px;
    }

    .form-field label span {
        font-size: 14px;
    }

    .btn-update {
        font-size: 16px;
        padding: 8px 16px;
    }
}

@media screen and (min-width: 577px) and (max-width: 768px) {
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
}

@media screen and (min-width: 1025px) and (max-width: 1440px) {
}

@media screen and (min-width: 1441px) and (max-width: 1680px) {
}
