/* login.css */

/* Container for the login form */
.container {
    background-image: url('https://media.gettyimages.com/id/83375946/pt/foto/college-dorm-hallway.jpg?s=612x612&w=0&k=20&c=KnkPhSTzkyEHq2YBUAPpV0cLeVCih4324ZrvIrfNBUI=');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 5px;
    padding-top: 50px;
    padding-bottom: 50px;
}

/* Form input fields */
.input-field {
    margin-bottom: 20px;
    color: #000000;
    text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #ffffff; /* Add text shadow for black outline */

}

/* Error message styles */
.red-text {
    color: red;
    font-size: 14px;
}

/* Submit button */
.btn-large {
    background-color: #2196F3;
    font-weight: bold;
    transition: background-color 0.3s ease-in-out;
    width: 100%; /* Button takes full width of the container */
    color: #000000;
    text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #ffffff; /* Add text shadow for black outline */
}

.btn-large:hover {
    background-color: #1976D2;
}

/* Back to home button */
.btn-flat {
    color: #2196F3;
    font-weight: bold;
    width: 100%; /* Button takes full width of the container */
}

.btn-flat:hover {
    text-decoration: underline;
}

/* Form labels */
label {
    font-weight: bold;
}

/* Heading style */
h4 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #000000;
    text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #ffffff; /* Add text shadow for black outline */

}

/* Link style */
a {
    text-decoration: none;
    font-weight: bold;
    color: #000000;
    text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #ffffff; /* Add text shadow for black outline */

}

a:hover {
    text-decoration: underline;
}

/* Media query for small screens */
@media (max-width: 768px) {
    /* Adjust styles for smaller screens */
    .container {
        max-width: 100%; /* Allow the container to take full width on small screens */
        margin: 0 10px; /* Add some horizontal margin for spacing */
    }
}
