/* Login.css */

/* Container for the login form */
.login-container {
    background-image: url('https://media.gettyimages.com/id/83375946/pt/foto/college-dorm-hallway.jpg?s=612x612&w=0&k=20&c=KnkPhSTzkyEHq2YBUAPpV0cLeVCih4324ZrvIrfNBUI=');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 5px;
    padding-top: 50px;
    padding-bottom: 50px;
}

/* Content within the login container */
.login-content {
    width: 100%;
    max-width: 400px; /* Adjust the max width as needed */
    background: #fff; /* Background color for the content */
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px rgb(0, 0, 0);
}

/* Back link style */
.back-link {
    text-decoration: none;
    font-weight: bold;
    color: #2196F3;
    display: block;
    margin-bottom: 20px;
}

.back-link:hover {
    text-decoration: underline;
}

/* Heading style */
.heading {
    text-align: center;
    margin-bottom: 20px;
}

.heading h4 {
    font-size: 24px;
    color: #000000;
    text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #ffffff;
}

/* Link style */
.heading a {
    text-decoration: none;
    font-weight: bold;
    color: #2196F3;
}

.heading a:hover {
    text-decoration: underline;
}

/* Form input fields */
.input-field {
    margin-bottom: 20px;
    position: relative;
    color: #000000;
}

/* Error message styles */
.error-text {
    color: red;
    font-size: 14px;
    position: absolute;
    bottom: -20px;
    left: 0;
}

/* Submit button style */
.login-button {
    background-color: #2196F3;
    color: #fff;
    font-weight: bold;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.login-button:hover {
    background-color: #1976D2;
}
