/* Register.css */

.register-container {
    padding-top: 50px;
    padding-bottom: 50px;
}

.btn-back {
    margin-bottom: 20px;
}

.form-container {
    padding-left: 11.250px;
}

.form-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-left: -120px;
    color: #000000;
    text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #ffffff; /* Add text shadow for black outline */
}

.login-link {
    color: #333;
}

/* Add this CSS class for spacing between form elements */
.form-field {
    margin-bottom: 22px;
    margin-left: 90px;
    margin-right: 20px;
}

.form-field-input {
    margin-bottom: 22px;
    margin-left: 90px;
    margin-right: 300px;
}

/* Style the icon position for preference field selects */
.form-field i.material-icons.prefix {
    position: absolute;
    top: 50%; /* Vertically center the icon */
    transform: translateY(-50%); /* Center the icon vertically */
    left: 15px; /* Adjust the left distance as needed */
    font-size: 24px; /* Adjust the icon size as needed */
}

/* Style the label for preference fields */
.form-field label {
    font-size: 16px;
    color: #000000;
    text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #ffffff; /* Add text shadow for black outline */
}

/* Style the select input for preference fields */
.form-field select {
    display: block;
    width: calc(100% - 40px); /* Adjust width considering the icon width and left spacing */
    /* Add space for the icon on the left */
    padding: 10px 10px 10px 40px;
    border: 1px solid #ccc; /* Border color */
    border-radius: 4px;
    font-size: 16px; /* Adjust font size as needed */
    color: #333; /* Text color */
}

/* Style the checkbox input for preference fields */
.form-field label input[type="checkbox"] {
    position: absolute;
    opacity: 0;
}

/* Style the checkbox label for preference fields */
.form-field label span {
    padding-left: 30px; /* Add space for the checkbox */
    font-size: 16px; /* Adjust font size as needed */
    color: #333; /* Text color */
}

/* Add more styles as needed */
