/* Register.css */

.register-container {
    padding-bottom: 50px;
}

.image-container{
    background-image: url('https://media.gettyimages.com/id/1321503267/pt/foto/a-college-dorm-with-classic-furniture-and-an-old-tv-in-the-morning.jpg?s=612x612&w=0&k=20&c=6ijRY0Kds8MbNTIUFSCv-GCdysbN5s4vGAUWfhl71Lk=');
    background-size: cover;
    background-repeat: repeat repeat;
    border-radius: 0px;
    padding-bottom: 10px;
    margin-bottom: -54px;
}

.btn-back {
    margin-bottom: 20px;
}

.form-container {
    padding-left: 149.25px;
}
.form-container-login{
    margin-left: 365px;
}

.form-title-register {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-left: -256px;
    color: #000000;
    text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #ffffff; /* Add text shadow for black outline */
}

.login-link {
    color: #333;
}

/* Add this CSS class for spacing between form elements */
.form-field {
    margin-bottom: 22px;
    margin-left: 90px;
    margin-right: 20px;
}

.form-field-input {
    margin-bottom: 22px;
    margin-left: 90px;
    margin-right: 438px;
}

/* Style the icon position for preference field selects */
.form-field i.material-icons.prefix {
    position: absolute;
    top: 50%; /* Vertically center the icon */
    transform: translateY(-50%); /* Center the icon vertically */
    left: 15px; /* Adjust the left distance as needed */
    font-size: 24px; /* Adjust the icon size as needed */
}

/* Style the label for preference fields */
.form-field label {
    font-size: 16px;
    color: #000000;
    text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #ffffff; /* Add text shadow for black outline */
}

/* Style the select input for preference fields */
.form-field select {
    display: block;
    width: calc(100% - 40px); /* Adjust width considering the icon width and left spacing */
    /* Add space for the icon on the left */
    padding: 10px 10px 10px 40px;
    border: 1px solid #ccc; /* Border color */
    border-radius: 4px;
    font-size: 16px; /* Adjust font size as needed */
    color: #333; /* Text color */
}

/* Style the checkbox input for preference fields */
.form-field label input[type="checkbox"] {
    position: absolute;
    opacity: 0;
}

.btn-flat-register{
    color: #2196F3;
    font-weight: bold;
    width: 100%;
    text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #ffffff; /* Add text shadow for black outline */
}
.btn-large-register{
    height: auto;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 4px;
    padding: 13px 44px;
    text-decoration: none;
    white-space: normal;
    margin-left: 500px; /* Center buttons horizontally */
    cursor: pointer;
    background-color: #007bff; /* Default button color */
    color: white;
    font-size: 25px;
    font-weight: bold;
}
.form-label{
    font-size: 20px;
    color: #000000;
    text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #ffffff; /* Add text shadow for black outline */
}

/* Style the checkbox label for preference fields */
.form-field label span {
    padding-left: 30px; /* Add space for the checkbox */
    font-size: 16px; /* Adjust font size as needed */
    color: #333; /* Text color */
    margin-left: -2px;
}
