/* EditPreferences.css */

.container {
    padding-top: 50px;
    padding-bottom: 50px;
}

.form-container {
    padding-left: 11.250px;
}

.form-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

/* Add this CSS class for spacing between form elements */
.form-field {
    position: relative;
    margin-bottom: 20px;
}

/* Style the icon position for preference field selects */
.form-field i.material-icons.prefix {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 15px;
    font-size: 24px;
}

/* Style the label for preference fields */
.form-field label {
    font-size: 16px;
    color: #333;
}

/* Style the input for preference fields */
.form-field input[type="text"],
.form-field input[type="number"],
.form-field select {
    display: block;
    width: calc(100% - 40px);
    padding: 10px 10px 10px 40px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    color: #333;
}

/* Style the checkbox input for preference fields */
.form-field label input[type="checkbox"] {
    position: absolute;
    opacity: 0;
}

/* Style the checkbox label for preference fields */
.form-field label span {
    padding-left: 30px;
    font-size: 16px;
    color: #333;
}

/* Responsive styles */

@media screen and (max-width: 768px) {
    /* Adjust font sizes and padding for smaller screens */

    .form-title {
        font-size: 20px;
    }

    .form-field label {
        font-size: 14px;
    }

    .form-field input[type="text"],
    .form-field input[type="number"],
    .form-field select {
        padding: 8px 8px 8px 40px;
        font-size: 14px;
    }

    .form-field label span {
        font-size: 14px;
    }
}

/* Add more media queries and adjust styles as needed for different screen sizes */
