/* Styles for the outer container */
.container-valign {
    height: 75vh;
}

/* Styles for the title */
.title {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}

/* Styles for the description */
.description {
    text-align: center;
    font-size: 16px;
    color: #555;
}

/* Styles for buttons */
.button {
    height: auto;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 4px;
    padding: 6px 12px;
    text-decoration: none;
    white-space: normal;
    margin: 10px auto; /* Center buttons horizontally */
    cursor: pointer;
    background-color: #007bff; /* Default button color */
    color: white;
}

/* Responsive styles for buttons */
@media (max-width: 576px) {
    .button {
        padding: 8px 16px;
        font-size: 0.9rem;
    }
}

/* Responsive styles for Mobile M */
@media (min-width: 577px) and (max-width: 767px) {
    .button {
        /* Add specific styles for Mobile M if needed */
    }
}

/* Responsive styles for Mobile L */
@media (min-width: 768px) and (max-width: 991px) {
    .button {
        /* Add specific styles for Mobile L if needed */
    }
}

/* Responsive styles for Tablet */
@media (min-width: 992px) and (max-width: 1199px) {
    .button {
        /* Add specific styles for Tablet if needed */
    }
}

/* Responsive styles for Laptop */
@media (min-width: 1200px) and (max-width: 1399px) {
    .button {
        /* Add specific styles for Laptop if needed */
    }
}

/* Responsive styles for Laptop Large */
@media (min-width: 1400px) {
    .button {
        /* Add specific styles for Laptop Large if needed */
    }
}

/* Styles for "Cadastro" button */
.btn-cadastro {
    background-color: #FF9800; /* Orange color */
}

/* Styles for "Login" button */
.btn-login {
    background-color: #4CAF50; /* Green color */
}

/* Styles for "Produtos" button */
.btn-produtos {
    background-color: #2196F3; /* Blue color */
    margin-right: 120px;
}
