/* Landing.css */

/* Style for the outer container */
.container-valign {
    height: 75vh;
}

/* Style for the title */
.title {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}

/* Style for the description */
.description {
    text-align: center;
    font-size: 16px;
    color: #555;
}

/* Style for the buttons */
.button {
    height: auto;
    display: flex;
    align-items: center;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    padding: 6px 12px;
    text-decoration: none;
    white-space: normal;
    margin: 10px auto; /* Center buttons horizontally */
}

/* Style for the button text */
.button p {
    margin: 0;
    padding: 0;
    line-height: 1;
    white-space: normal;
    font-size: 0.8rem;
}

/* Media Query for screens smaller than 768px */
@media (max-width: 768px) {
    /* Adjust styles for smaller screens */
    .container-valign {
        height: auto;
    }

    .title {
        font-size: 20px;
    }

    .description {
        font-size: 14px;
    }

    .button {
        padding: 8px 16px;
        font-size: 0.9rem;
    }
}
